body{
    background-color: #b59475;
}
#res{
    text-align:center;
}

#checkMorse{
    height:30px;
    width:150px;
}
    #player{
    text-align:center;

}
#play{
    height:30px;
    width:150px;
}

.readiness{
    -webkit-animation: pulse linear .5s 10;
    animation: pulse linear .5s 10;
    text-align:center;
}
.readiness{
opacity:0%;
}
@-webkit-keyframes pulse {
	0% { width:200px; }
	50% { width:340px; }
	100% { width:200px; }

}
#anchor{
    text-align:center;
    padding-top: 80vh;
}
body{
background-image: url("https://i.pinimg.com/originals/23/70/52/2370529b20fcfd875381fdd7eb5ac751.jpg");
/*z-index: -50;*/
}
#didi{
display: flex;
align-items: center;
justify-content: center;
margin-right: 8vw;
margin-top:4vh;
margin-bottom:4vh;
}

#container{
margin: auto;
margin-top:10em;
  width: 50%;
  padding: 10px;
}



