header {
background-color: black;
height: 4em;
box-shadow: 1px 2px black;
}

nav ul li {
display: inline-block;
text-align: center;
width: 18%;
font-size: 1.5em;
margin-top: .75em;
color: white;
}

main h1 {
font-size: 4em;
width: 50%;
margin: 0 auto;
text-align: center;
}

main h2 {
width: 50%;
margin: 0 auto;
font-size:3em;
text-align: center;
}

main p {
width: 50%;
margin: 0 auto;
text-align: center;
font-size: 1.5em;
}

nav img {
float: left;
height: 4em;
width: 4em;
border-radius: 90%;
}

body {
background-image: url("telegraph-featured.jpg");
background-color: grey;
opacity: .75;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}

#container{
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 15vh;
padding-top: 5vh;
padding-bottom: 5vh;
background: rgba(0, 0, 0, 0.5);
color:#b6c7c9;
font-family: 'Fredoka One', cursive;
}

#login{
text-align: center;
margin-top: 5vh;
}

#username{
display: flex;
justify-content: center;
align-items: center;
}

#password{
display: flex;
justify-content: center;
align-items: center;
margin-top: 1vh;
margin-bottom: 1vh;
}

#register {
color: gold;
margin: 0 auto;
margin-top: 2%;
text-align: center;
}

#loginToRegisterButton{
background-color: gold;
}

#messageMain{
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20vh;
width: 60%;
}

#messageForm{
height: 50vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#messageTo{
width: 15vw;
margin: 5px;
}

#messageText{
width: 30vw;
height-min: 10vh;
height-max: 20vh;
margin: 5px;
}

#messageSubmit{
width: 15vw;
margin: 5px;
}

#all {
text-align: center;
display: inline-block;
}

main{
background-image: url("http://howwikipediaworks.com/x/2020/01/old-newspaper-template-google-docs-free-fashioned-for-microsoft-word-download-photoshop-article-document-style-editable-blank-time-paper.jpg");
}

#inboxButton{
display: flex;
align-items: center;
justify-content: center;
}

#friendsMain{
text-align: center;
padding-bottom: 5vh;
}

.userList{
display: table;
margin: 0 auto;
height: 30vh;
width: 40vw;
font-size: 1.5em;
text-align: center;
background-color: grey;
margin-bottom: 5vh;
}

.displayUsernameInFriends{
border: 2px solid black;
display: flex;
align-items: center;
justify-content: center;
}

.userMessageForm{
margin: 0;
}

.sendMessageToUserButton{
margin: 0 auto;
margin-top: 7vh;
display: flex;
vertical-align: center;
align-items: center;
justify-content: center;
height: 10vh;
width: 20vw;
background-color: tan;
opacity: 100%;
font-size: 16px;
cursor: pointer;
}

#one{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#two{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#three{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#four{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#five{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#six{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#seven{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#eight{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#nine{
  background-color: brown;
  width: 150px;
  height: 30px;
}
#ten{
  background-color: brown;
  width: 150px;
  height: 30px;
}

#legendId{
opacity:20%
width: 100x;
height:300px;
margin-left:600px;
margin-top:50px;

}
#legendMessageId{
opacity:20%
width: 100x;
height:300px;
margin-left:0px;
margin-top:-300px;
}