header {
background-color: black;
height: 4em;
box-shadow: 1px 2px black;
}
nav ul li {
  display: inline-block;
  text-align: center;
  width: 22%;
  font-size: 1.5em;
  margin-top: .75em;
  color: white;
}
main h1 {
font-size: 4em;
width: 50%;
margin: 0 auto;
text-align: center;
}
main h2 {
width: 50%;
margin: 0 auto;
font-size: 4em;
text-align: center;
}
main p {
width: 50%;
margin: 0 auto;
text-align: center;
font-size: 2em;
}
nav img {
float: left;
height: 4em;
width: 4em;
border-radius: 90%;
}
main img {
position: relative;
margin-left: 38%;
height: 22em;
width: 18em;
}
#home {
background-image: url("telegraph-featured.jpg");
background-color: grey;
opacity: .75;
}
main form {
margin-left: 31%;
margin-top: 15%;
}
main form input {
margin-top: 2%;
}
#register {
margin: 0 auto;
margin-top: 2%;
margin-bottom: 20%;
text-align: center;
}