<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">


</head>
<body>

<header th:insert="fragments/header.html :: header"></header>

<main id="home">
    <div id="container">
<h1>About Our Team</h1>
        <br>

<h2>Learn Morse Code</h2>
<p>Welcome to the Learn Morse Code designed by Yihang (Anna) Zhang, Dayne Daylong, Silas Oyewale,
    and Shane Gable. This website will help you learn Morse Code quickly by completing challenges and even
    lets you practice with your friends. Have fun!
</p>

<br>

<h2>What is Morse Code?</h2>
<p>Morse Code is a method used for telecommunication to send text characters as a sequence of dits and dahs.
    The dits(.) and dahs(-) can be sent as an electrical signal, visually, or even verbally.</p>
    </div>
</main>
</body>
</html>