<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link type="text/css" rel="stylesheet" href="/style.css">
<head>
    <title>Create New User</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main>
    <div th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
    <h1>Register New Account</h1>
    <form th:action="@{/create}" method="POST">
        User Name: <input type="text" name="username"/>
        Password: <input type="password" name="password"/>
        <input type="submit" value="Create New Profile"/>
    </form>

</main>
</body>
</html>


