<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>


    <audio id="dit">
        <source src="dit.wav" type="audio/mpeg">
    </audio>
    <audio id="dah">
        <source src="dah.wav" type="audio/mpeg">
    </audio>
    <title>Mock Level</title>
    <link type="text/css" rel="stylesheet" href="/englishToMorse.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<main>
    <header>
    </header>
    <div id="container">
        <p id="output">[[${morse}]] </p>
        <p><p>Please convert " [[${answer}]] " to Morse Code</p> </p>
        <p id="player"><button id="play">Listen to the Morse Code sound of your answer</button></p>
        <div id="didi">
            Type answer here: <input type="text" id="userAnswer">

        </div>

        <p id="input"></p>
        <p id="res"><button id="checkMorse">Check Result</button></p>
    </div>
</main>
<script src="/script.js"></script>
</body>
</html>