<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>


    <audio id="dit">
        <source src="/dit.wav" type="audio/mpeg">
    </audio>
    <audio id="dah">
        <source src="/dah.wav" type="audio/mpeg">
    </audio>
    <title>Mock Level</title>
    <link type="text/css" rel="stylesheet" href="/englishToMorse.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<main>
<aside>
    <img src="https://external-preview.redd.it/dBDyLhdTTPwFqFzqrcZv2zzml3jJh0W8CR6kl4WSqTk.jpg?width=216&crop=smart&auto=webp&s=32334fb7e2316977da67b71b2afe49c7f2f06407" id="legendId" alt="legend">
</aside>
    <p>INSTRUCTION</p>
    <p>Use the left arrow for dits (.) and the right arrow for dahs (-)</p>
    <div id="container">
        <p id="output">[[${morse}]] </p>
        <p><p>Please convert " [[${answer}]] " to Morse Code</p></p>

        <p id="input"></p>
        <form action="/morseToEnglish" method="POST">
            <input type="hidden" id="correctAnswer" th:value="${answer}">

            <input th:value="${level_number}" type="hidden" name="currentLevel">

            <button id="checkMorse" type=submit>Check Result</button>

        </form>
    </div>
</main>
<script src="/script.js"></script>
</body>
</html>