<!DOCTYPE html>
<html lang="en" xmlns:th="">
<link type="text/css" rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"></header>
<main id="home">
    <h1>Learn Morse Code</h1>
    <p>Welcome to the Learn Morse Code designed by Yihang (Anna) Zhang, Dayne Daylong, Silas Oyewale,
    and Shane Gable. This website will help you learn Morse Code quickly by completing challenges and even
    lets you practice with your friends. Have fun!</p>
    <h2>What is Morse Code?</h2>
    <p>Morse Code is a method used for telecommunication to send text characters as a sequence of dits and dahs.
    The dits(.) and dahs(-) can be sent as an electrical signal, visually, or even verbally.</p>
    <h2>How to play the game:</h2>
    <p>If this is your first time here, please click on Login/Register and follow the link to register a new account.
    Once you register for a new account you will be able to play through the different levels of the game and increase
    your Morse Code knowledge! Once you know enough to begin communicating with other users, you can begin messaging to
    practice!</p>
</main>
</body>
</html>