<!--The font is has distracting shadow, we shouldn't have home and about it is redundant. The UI looks bad.-->


<!DOCTYPE html>
<html lang="en" xmlns:th="">
<link type="text/css" rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"></header>
<main id="home">
    <div id="container">
    <h1>How to play the game:</h1>
    <p>If this is your first time here, please click on Login/Register and follow the link to register a new account.
    Once you register for a new account you will be able to play through the different levels of the game and increase
    your Morse Code knowledge! Once you know enough to begin communicating with other users, you can begin messaging to
    practice!</p>

    </div>
</main>
</body>
</html>