<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>


    <audio id="dit">
        <source src="dit.wav" type="audio/mpeg">
    </audio>
    <audio id="dah">
        <source src="dah.wav" type="audio/mpeg">
    </audio>
    <title>You've Got Mail</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">


</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main>
<div id="container">
<ul>

    <li id="inbox" th:each="message : ${messages}">
        <p th:text="${message.content}" th:id="${message.id}"></p>
        <span th:text="'From: ' + ${message.sender}"></span>
        <button id="ii"   type="submit" style="font-size:20px" th:value="${message.id}">Play</button>

    </li>

</ul>
<a id="profileButton" href="/profile"><button style="font-size:28px">Back to Profile</button></a>
</div>
</main>
<script src="/inbox.js"></script>
</body>
</html>