<!--This can be removed it is not being used-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>


    <audio id="dit">
        <source src="dit.wav" type="audio/mpeg">
    </audio>
    <audio id="dah">
        <source src="dah.wav" type="audio/mpeg">
    </audio>
    <title>Mock Level</title>
</head>
<body>
<main>
    <p id="output">[[${morse}]]</p>
    <button id="play">Play</button>
    <p id="input"></p>
    <form action="/checkresult" method="GET">
    <input id="result" type="hidden" name="result">
        <input type="submit" value="Check Result">
    </form>
    <ul> How to build a level:
        <li>Use the level controller to send a Model m attribute called "morse" with your morse string passed into
        Level.convertToMorse(Your String)</li>
        <li>Have a button with the id "play" on your page so the user can play the audio of the code.</li>
        <li>Have an element with the id "input" which will display the Morse code the user has input</li>
        <li>Build a /check route that accepts a String result to verify results</li>
        <li>????</li>
        <li>Profit</li>
    </ul>
</main>
<script src="/script.js"></script>
</body>
</html>