<!DOCTYPE html>
<html lang="en" xmlns:th="">
<link type="text/css" rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<main id="profileContainer">
    <br>
    <h1>You are logged in as [[${username}]]</h1>
    <br>
    <a id="inboxButton" href="/inbox"><button style="font-size:36px">Inbox</button></a>
    <br>
<p id="all">

    <p id="one">
        <a href="/level/1">Level 1</a>
    </p>

    <p id="two">
        <a href="/level/2">Level 2</a>
    </p>

    <p id="three">
        <a href="/level/3">Level 3</a>
    </p>

    <p id="four">
        <a href="/level/4">Level 4</a>
    </p>

    <p id="five">
        <a href="/level/5">Level 5</a>
    </p>

    <p id="six">
        <a href="/level/6">Level 6</a>
    </p>

    <p id="seven">
        <a href="/level/7">Level 7</a>
    </p>

    <p id="eight">
        <a href="/level/8">Level 8</a>
    </p>

    <p id="nine">
        <a href="/level/9">Level 9</a>
    </p>

    <p id="ten">
        <a href="/level/10">Level 10</a>
    </p>


</p>

</main>
</body>
</html>